:root{
    --bg-color: #343843;
    --pantalla-color: #87DEF9;
    --botones-num: #a8a8a8;
    --boton-rojo: #f10602;
    --boton-green: #57A639;
    --boton-yellow: #f5d80a;
    --texmain: #000;
}

body{
    background-color: #adadad;
}

.contenedor{
    background-color: var(--bg-color);
    width: 400px;
    height: 500px;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    flex-direction: column;
}

#pantalla{
    grid-column: 2 / 3;
    background-color: var(--pantalla-color);
    width: 133px;
    height: 100px;
    border: #000;
    border-radius: 10px;
    color: var(--texmain);
    font-size: 2em;
    font-family: orbitron, sans-serif;
    padding: 10px;
}
.Botones0-1{
    grid-column: 1/2;
    grid-row: 1/2
}

#btn{
    background-color: var(--botones-num);
    width: 70px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}
