/* ESTILOS GENERALES*/
:root{
    --bg-color: #202022;
    --bg-button-num: #ec5549;
    --bg-buttom-sig: #68899f;
    --bg-icono: #877d73;
    --texmain: #d9d2c2;
    --texsec: #202022;
    --radius: 20px;
    --gap: 20px;
}

/* RESETEO DE MARGENES Y PADDING */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--texmain);
    display: flex;
    justify-content: center;
    padding: 20px 10px  10px;
   
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ESTILOS DEL CONTENEDOR */
.cal {
    background: var(--bg-color);
    width: 300px;
    height: 540px;
    border-radius: var(--radius);
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0.3, 0.3, 0.3, 0.4);
}

/* ESTILOS DE LOS ELEMENTOS */

#txtpantalla {
    grid-column: 1 / -1;
    background: var(--texmain);
    width: 100%;
    height: 190px;
    border-radius: var(--radius);
    color: var(--texsec);
    font-size: 2em;
    font-family: orbitron, sans-serif;
    padding: 10px;
    text-align: right;
    margin-bottom: 15px;
}
 
/* ESTILOS DE LOS BOTONES */
button{
    width: 56px;
    height: 54px;
    border: none;
    border-radius: var(--radius);
    font-size: 1.5em;
    color: var(--texmain);
    cursor: pointer;
    transition: 0.3s ease;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: orbitron, sans-serif;
}
.boton{
    
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 0 auto;
    
}

/* ESTILOS DE LOS BOTONES DE NUMEROS */

.buttom0 {
 grid-row: 1 / 3;

}

.button1{
    grid-row: 3 / 5;
}
.button2{
    grid-row: 5 / 7;
}
.buttom3{
    grid-row: 7 / 9;
}
.buttom4{
    grid-row: 9 / 11;
}

#num{
    background: var(--bg-button-num);
    margin: 3px;
}

/* ESTILOS DE LOS BOTONES DE SIMBOLOS Y FUNCIONES */

#simbolos{
    background: var(--bg-buttom-sig);
}

#icono{
    background: var(--bg-icono);
    margin: 3px;
}

#calculadora:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}